# HighLevel OAuth
HL_FIREBASE_PROJECT_ID=hl-genesis
HL_CLIENT_ID=
HL_CLIENT_SECRET=
HL_OAUTH_REDIRECT_URI=
HL_OAUTH_SCOPES=

# LLM
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=

# App URLs
FRONTEND_URL=

HL_WEBHOOK_SKIP_VERIFY=false
HL_WEBHOOK_PUBLIC_KEY=